@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Barlow Condensed', sans-serif;
}

body {
    background: #fff9fa;  
    font-size: 100%;
}

header {
    display: flex;
    justify-content: space-between; 
}

header h1 {
    font-size: 3.5vw;
    margin: 5px;;
    color: #E9BCBF;
    padding: 0.3em;
    padding-left: 1em;
    font-family: 'Parisienne', cursive;
}

#family-photo {
    width: 100%;
    object-fit: scale-down;
}

header nav {
    font-size: 2.5vw;

    font-family: 'Barlow Condensed', sans-serif;
    padding: 1em;
}

#Home, #Projects, #Contact {
    padding: 0.75em;
    color: #94c7af;
}

/* HERO SECTION */
.hero {

}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.207), rgba(0, 0, 0, 0.208)), url("https://raw.githubusercontent.com/bel-lloyd/my-files/master/Family%20Widescreen1.jpg");
    height: 75vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    
}

.hero-content {
    display: flex;
    font-size: 4.5vw;
    color: #f4eced;
    font-family: 'Parisienne', cursive;
    justify-content: center;
    align-items: center;
}



.about-me {
    padding: 5em;
    display: flex;
    justify-content: center;
}

#abouttext {
    display: flex;
    flex-direction: column;
    font-size:2.5vw;
    padding-right: 5em;
}

.portrait{
    width: 20%;
    height: 20%;
    border-radius: 8px;
}

/* PROJECTS */
#projectstab{
    text-align: center;
    font-size: 2.5vw;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    font-size: 2.5vw;
}

.item {
    width: 30%;
    /* padding-bottom: 30%; Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
    text-align: center;
    border: 2px solid #94c7af;
    border-radius: 8px;
    img
}

.responsive {
    max-width: 60%;
    height: auto;
}


/* CONTACT ME */
#contactme{
    text-align: center;
    font-size: 2.5vw;
}

form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 2.5vw;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #94c7af;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #94c7af;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #F0F7F4;
    background-color: #D9EBE2;
    padding: 5px;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
}

.form-item button:hover {
    border: 2px solid #94c7af;
    background-color: #D9EBE2;
    color: #94c7af;
    font-weight:900;
    font-size: 0.5em;
}

.form-item button {
    width: 150px;
}

footer {
    font-size: 2.5vw;
    text-align: center;
    color: #efc7c7;
    font-family: 'Parisienne', cursive;
}

#links {
    padding-top: 10px;
}

#LinkedIn {
    object-fit: contain;
} 

#GitHub {
    font-size: 10vw;
}


/* Phone View */
@media screen and (max-width: 480px) {
    


 @media (max-width: 600px) {
    label {
        font-size: 30%;
    }

@media (min-width: 900px) {
    .form-item {
        /* font-size: 0.5em; */
    }